.content.tutor {
	background-color: #F6F6F6;
	padding-top: 3rem;
}

.content.tutor .search-bar {
	padding-right: 1.2rem;
	padding-left: 1.2rem;
	padding-bottom: 1.6rem;
	margin-right: auto;
	margin-left: auto;
	margin-top: 7rem;
}

.content.tutor .search-bar h1 {
	font-size: 4rem;
	color: #FFFFFF;
	text-align: center;
}

.content.tutor .search-bar form {
	padding: 0.8rem 0 4.16rem;
	margin: 0 1.6rem;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 0.4rem;
}

.content.tutor .search-bar .language {
	padding-right: 0;
}

.content.tutor .search-bar .availability {
	padding-right: 0;
}

.content.tutor .search-bar .location {
	padding-right: 0;
}

.content.tutor .search-bar .filter {
	padding-right: 0;
}

.content.tutor .search-bar .dropdown {
	width: 100%;
}

.content.tutor .search-bar .dropdown-toggle {
	background-color: #FFFFFF;
	width: 100%;
	height: 3.5rem;
	text-align: left;
	font-size: 1.44rem;
	outline: none;
}

.content.tutor .search-bar .dropdown-toggle:focus {
	margin-bottom: 0;
	border-color: #98CBE8;
	border-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.content.tutor .search-bar .dropdown-toggle i {
	position: absolute;
	right: 1rem;
	margin-top: 0.1rem;
	font-size: 2rem;
}

.content.tutor .search-bar .dropdown-menu {
	min-width: 100%;
	margin-top: 0;
	border-color: #98CBE8;
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.content.tutor .search-bar .dropdown-menu li button {
	font-size: 1.44rem;
	color: #636B6F;
	text-decoration: none;
	outline: none;
}

.content.tutor .search-bar .form-group input {
	width: 100%;
	height: 3.5rem;
	font-size: 1.44rem;
}

.content.tutor .search-bar .form-group i {
	position: absolute;
	right: 1rem;
	font-size: 1.44rem;
	margin-top: -2.4rem;
}

.content.tutor .search-bar .search button {
	width: 100%;
	height: 3.5rem;
	font-size: 1.44rem;
	font-weight: bold;
	outline: none;
	border-color: #3097D1;
}

.content.tutor .search-bar .search button:active,
.content.tutor .search-bar .search button:hover,
.content.tutor .search-bar .search button:focus {
	background-color: #3097D1;
}

.content.tutor .result .empty h1 {
	text-align: center;
	margin-bottom: 4%;
}

.content.tutor .panel {
	cursor: pointer;
	background-color: #F6F6F6;
}

.content.tutor .panel .picture {
	padding-right: 0.4rem;
}

.content.tutor .panel .picture img {
	width: 100%;
}

.content.tutor .panel .name {
	margin-top: -1.76rem;
}

.content.tutor .panel .name h1 {
	padding-top: 0.5rem;
	padding-bottom: 2.4rem;
	line-height: 1.2;
	font-size: 2rem;
	font-weight: bold;
	color: #000000;
}

.content.tutor .panel .info {
	margin-bottom: 0.4rem;
	width: 65%;
	text-align: center;
}

.content.tutor .panel .info button {
	width: 100%;
	font-size: 1rem;
}

.content.tutor .modal-dialog {
	margin-top: 10%;
	width: 40%;
	height: 40%;
}

.content.tutor .modal .picture {
	padding-right: 0.4rem;
}

.content.tutor .modal .picture img {
	width: 100%;
}

.content.tutor .modal .info h1 {
	padding-bottom: 2rem;
	line-height: 1.2;
	font-size: 1.5rem;
	font-weight: bold;
	color: #000000;
}

.content.tutor .modal .modal-info-key {
	font-size: 1.1rem;
	margin: 0 0.8rem 0 0;
	padding: 0.8rem 0 0 0;
}

.content.tutor .modal .modal-info-value {
	font-size: 1.1rem;
	color: #3097D1;
	padding: 0;
}

.content.tutor .modal .inquire {
	position: absolute;
	outline: none;
	border-color: #3097D1;
	margin-left: 10rem;
	margin-right: 1.2rem;
	font-size: 1.5rem;
}

.content.tutor .modal .inquire:active,
.content.tutor .modal .inquire:hover,
.content.tutor .modal .inquire:focus {
	background-color: #3097D1;
}

.content.tutor .modal .close {
	color: #3097D1;
	font-size: 2.4rem;
	opacity: 0.5;
	outline: none;
	margin-top: -0.8rem;
	margin-right: -0.4rem;
}

.content.tutor .modal .availability {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
	font-size: 1.1rem;
}

.content.tutor .modal .availability .avail {
	color: #3097D1;
}

.content.tutor .modal .about {
	font-size: 1.1rem;
}