.footer {
	background-color: #39404B;
	padding: 2.4rem 0;
}

.footer .list-footer {
	font-size: 1.6rem;
	margin-left: 6.4rem;
}

.footer .list-footer li {
	margin: 0.8rem 0;
	list-style-type: none;
}

.footer .list-footer .link {
	color: #FFFFFF;
	font-size: 1.6rem;
}

.footer .list-footer .link:hover {
	text-decoration: none;
	color: #3097D1;
	transition: 1s;
}

.footer .list-footer .social-footer .link {
	width: 2.4rem;
	height: 2.4rem;
	display: table;
	background-color: #FFFFFF;
	border-radius: 50%;
	text-align: center;
	font-size: 1.6rem;
	cursor: pointer;
	float: left;
	margin-right: 0.8rem;
	color: #39404B;
}

.footer .support {
	margin-left: 8.8rem;
}

.footer .support h1 {
	font-size: 1.2rem;
}

.footer .support .link {
	color: #636B6F;
}