@media (min-width: 1200px) {
	html {
		font-size: 12px;
	}
}

@media (min-width: 1500px) {
	html {
		font-size: 15px;
	}
}

@media (min-width: 1800px) {
	html {
		font-size: 18px;
	}
}

html {
    overflow-y: scroll;
}

body {
	background-color: #FFFFFF;
}

.container {
	width: 88%;
}

.header .navigation-bar {
	padding: 1.6rem 0 1.6rem;
}

.header .navigation-bar .logo img {
	max-width: 12rem;
	margin-left: 8rem;
}

.header .navigation-bar .nav-btn {
	font-weight: bold;
	font-size: 1.6rem;
	padding: 0.8rem 1.44rem;
	border-radius: 5.6rem;
	border-width: 0.2rem;
	border-style: solid;
}

.header .navigation-bar .register {
	margin-right: 0.8rem;
}

.header .navigation-bar .login {
	margin-right: 9rem;
}

.header.home .navigation-bar .logo img {
	filter: brightness(0) invert(1);
}

.header.home .navigation-bar .nav-btn {
	color: #FFFFFF;
}

.header.user .navigation-bar .nav-btn {
	color: #3097D1;
}

.header.tutor .navigation-bar .nav-btn {
	color: #3097D1;
}

.header .navigation-bar .nav-btn:active,
.header .navigation-bar .nav-btn:hover,
.header .navigation-bar .nav-btn:focus {
	color: #FFFFFF;
	background-color: #3097D1;
	border-color: #3097D1;
}

.header.user .container-fluid {
	background-color: #FFFFFF;
}

.header.tutor .container-fluid {
	background-color: #FFFFFF;
}