.header .navigation-bar {
	padding: 20px 30px;
}

.header .navigation-bar .logo img {
	filter: brightness(0) invert(1);
}

.header .navigation-bar .nav-btn {
	color: #FFFFFF;
}

.content .background {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	height: 95%;
	width: 100%;
	background-size: cover;
	background-position: center center;
}

.content .search-bar {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 100px;
}

.content .search-bar h1 {
	font-size: 50px;
	color: #FFFFFF;
	text-align: center;
}

.content .us-bar {
	padding-top: 275px;
	text-align: center;
}

.content .us-bar .title h1 {
	font-size: 40px;
	color: #000000;
	margin-bottom: 30px;
}

.content .us-bar .subtitle img {
	filter: opacity(30%);
}

.content .us-bar .subtitle h1 {
	font-size: 20px;
	color: #000000;
}

.content .us-bar .subtitle p {
	font-size: 20px;
	color: #636B6F;
}

.content .testimonials {
	margin-top: 50px;
	padding-top: 30px;
	text-align: center;
	background-color: #F6F6F6;
}

.content .testimonials .title h1 {
	font-size: 40px;
	color: #000000;
}

.content #testCarousel {
	margin-top: 30px;
	padding-bottom: 75px;
}

.content #testCarousel .carousel-inner {
	border-radius: 100px;
	font-size: 20px;
}

.content #testCarousel .carousel-inner .item {
	opacity: 0;
	transition-property: opacity;
}

.content #testCarousel .carousel-inner .active {
	opacity: 1;
	transition-property: opacity;
}

.content #testCarousel .carousel-inner img {
	margin: auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.content #testCarousel .carousel-inner .carousel-para {
	margin: auto;
	text-align: center;
	width: 80%;
	padding: 20px 20px 0 20px;
	font-size: 20px;
	font-style: italic;
	color: #636B6F;
}

.content #testCarousel .carousel-inner .carousel-name {
	color: #000000;
	font-weight: bolder;
	margin-top: 15px;
}

.content #testCarousel .carousel-inner .carousel-title {
	color: #636B6F;
}

.content #testCarousel .carousel-indicators li {
	background-color: #636B6F;
	display: inline-block;
	width: 15px;
	height: 15px;
}

.content #testCarousel .carousel-indicators .active {
	width: 15px;
	height: 15px;
	background-color: #3399FF;
	border: 3px solid #FFFFFF;
	border-radius: 18px;
	box-shadow: 0px 0px 0px 2px #3399FF;
}

.content .carousel-control.left {
	background-image: linear-gradient(to right, #F6F6F6 10%, #F6F6F6 100%);
	font-size: 100px;
	color: #000000;
	margin-top: 150px;
	width: 10%;
}

.content .carousel-control.right {
	background-image: linear-gradient(to right, #F6F6F6 10%, #F6F6F6 100%);
	font-size: 100px;
	color: #000000;
	margin-top: 150px;
	width: 10%;
}